body {
	background: rgb(255, 251, 236);
}

$card-bg-color: #fff;
$card-bg-disabled: #dfdfdf;
$card-disabled-tint: rgba(199, 200, 204, 0.539);
$color-red: rgb(183, 24, 32);
$color-black: rgb(44, 43, 49);
$color-disabled: rgb(116, 115, 121);

$card-shadow: 0.25em 0.5em 5em rgba(0, 0, 0, 0.1);

.container {
	height: 100vh;
	width: 100vw;
	@extend .center-child;
}

.center-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.color-red {
	color: $color-red;
}
.color-black {
	color: $color-black;
}

// .card-display {
// 	font-size: 16px;

// 	width: 800px;
// 	height: 600px;
// 	box-shadow: 0px 16px 80px rgba(0, 0, 0, 0.05);
// 	@extend .center-child;
// 	> * {
// 		margin: 0px -1.5em;
// 	}
// }

.card-container {
	height: calc(4 * 3em);
	width: calc(4 * 2em);
	perspective: 600px;
	display: inline-block;
	border-radius: 0.5em;
}

.card {
	position: relative;
	font-size: 1em;

	height: 100%;
	width: 100%;
	transform-style: preserve-3d;

	border: 1px solid rgb(44, 43, 49);

	transition: 0.5s ease-in-out;
}

.card > div {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.card .face {
	padding: 0.75em;
	background: white;
}
.card .back {
	background: $color-red;
	transform: rotateY(180deg);
}

.card.is-flipped {
	transform: rotateY(180deg);
}

.card.disabled {
	background: $card-bg-disabled;
}
.card.disabled::after {
	z-index: 1;
	background: $card-disabled-tint;
	position: absolute;
	inset: 0 0 0 0;
}
.card-text {
	display: inline-block;
	width: 1em;

	font-family: Helvetica;
	font-weight: 800;
	font-size: 3em;

	display: inline-flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	&,
	* {
		user-select: none;
	}
}

.card-rank {
	font-family: 'DIN Pro';
	line-height: 100%;
	font-weight: 900;
}
.card-suit {
	font-size: 0.8em;
}

.card-joker.color-red svg {
	fill: #ca901b;
}

.card-joker.color-black svg {
	fill: #32a786;
}

.flip-card-test {
	.cardd-scene {
		width: 200px;
		height: 260px;
		perspective: 600px;
	}
	.cardd {
		width: 100%;
		height: 100%;
		position: relative;
		transition: transform 1s;
		transform-style: preserve-3d;
	}
	.cardd-flipped {
		transform: rotateY(180deg);
	}
	.cardd-face {
		position: absolute;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		&.cardd-face-front {
			background: red;
		}
		&.cardd-face-back {
			background: blue;
			transform: rotateY(180deg);
		}
	}
}
