/* Effects */
.card.card-face.golden-shine {
	background: linear-gradient(
		45deg,
		hsl(36 100% 50% / 1) 0%,
		hsl(53 100% 54% / 1) 16.666%,
		hsl(48 100% 56% / 1) 33.333%,
		hsl(56 100% 50% / 1) 50%,
		hsl(52 98% 52% / 1) 66.666%,
		hsl(62 100% 51% / 1) 83.333%,
		hsl(58, 100%, 50%) 100%
	);
	.card-content {
		color: hsl(41, 100%, 14%);
		fill: hsl(41, 100%, 14%);
	}
	// background: linear-gradient(
	// 	135deg,
	// 	rgba(255, 230, 154, 1) 0%,
	// 	rgba(255, 207, 62, 1) 50%,
	// 	rgba(255, 230, 154, 1) 100%
	// );
	box-shadow: 0px 0px 15px hsla(53, 100%, 50%, 0.281);
	// background-size: 400% 400%;
	background-size: 200% 200%;
	animation: golden-shine 5s ease-in-out infinite;
}

@keyframes golden-shine {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.golden-glow-pulse {
	box-shadow: 0 0 10px 3px gold;
	animation: pulse 0.5s ease-out infinite;
	animation-direction: alternate;
}

@keyframes pulse {
	from {
		box-shadow: 0 0 12px 0 rgba(255, 217, 0, 0.26);
	}
	to {
		box-shadow: 0 0 12px 0px rgba(255, 217, 0, 0.585);
	}
}
.gold-glow {
	position: relative;
	box-shadow: 0 0 20px 10px #ffc107;
}

.gold-glow::before {
	content: '';
	position: absolute;
	top: -10px;
	left: -10px;
	bottom: -10px;
	right: -10px;
	z-index: -1;
	border-radius: inherit;
	box-shadow: inherit;
	animation: rotate-glow 3s linear infinite;
}

@keyframes rotate-glow {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
